<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<h3><%= @user.name %>, <%= @user.email %></h3>
<i>created <%= time_ago_in_words @user.created_at %> ago</i>
